html,
body {
  height: 100%;
}

body {
  @extend %opensans-400;
  background-color: $silver-bd;
  color: $default;
  font-size: 14px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  width: 296px;
  object-fit: contain;
}

.contacts {
  display: flex;
  flex-direction: column;
  text-align: center;

  &__phone {
    @extend %opensans-700;
    font-size: 20px;
    color: $dark-08;
    margin-bottom: 10px;
  }

  &__worktime {
    color: $silver;
  }
}

.breadcrumbs {
  display: inline-flex;
  justify-content: start;
  flex-wrap: wrap;

  &__list {
    display: flex;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      padding-right: 46px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 14px;
      top: 4px;
      right: 22px;
      background-color: $white;
    }

    &:last-child::before {
      display: none;
    }
  }

  &__link {
    @extend %opensans-400;
    font-size: 14px;
    color: $white;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 20px;

  &__item {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  &__link {
    display: block;

    font-size: 18px;
    color: $black-02;
  }

  &__link--active {
    @extend %opensans-700;
    margin: 0 15px;
    position: relative;

    &::before {
      content: '.';
      position: absolute;
      bottom: 0;
      left: 10px;
    }
  }
}

.btn-blue {
  display: inline-block;
  max-width: 230px;
  width: 100%;
  height: 60px;
  padding: 23px 10px;
  @extend %opensans-800;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: $white;
  background-color: $blue-01;
  box-shadow: 0px 10px 10px 0px rgba(1, 107, 181, 0.3);
  border-radius: 50px;
  text-align: center;
  transition: color 0.4s, background-color 0.4s;
  margin-bottom: 20px;

  &:hover {
    background-color: $white;
    color: $blue-01;
  }
}