html,
body {
  height: 100%;
}

body {
  @extend %opensans-400;
  background-color: $silver-bd;
  color: $default;
  font-size: 14px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  width: 296px;
  object-fit: contain;
}

.contacts {
  display: flex;
  flex-direction: column;
  text-align: center;

  &__phone {
    @extend %opensans-700;
    font-size: 20px;
    color: $dark-08;
    margin-bottom: 10px;
  }

  &__worktime {
    color: $silver;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 20px;

  &__item {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  &__link {
    display: block;

    font-size: 18px;
    color: $black-02;
  }

  &__link--active {
    @extend %opensans-700;
    margin: 0 15px;
    position: relative;

    &::before {
      content: '.';
      position: absolute;
      bottom: 0;
      left: 10px;
    }
  }
}

