.footer-menu {
  padding: 70px 0 55px;
  background-color: $white;

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__link {
    @extend %opensans-400;
    color: $default;
  }

  &__link--darc {
    @extend %opensans-800;
    color: $black-02;
  }
}

.footer-middle {
  padding: 35px 0;
  background-color: $silver-bd;

  &__container {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    margin-right: 75px;
  }

  &__item:not(:last-child) {
    margin-right: 15px;
  }
}

.footer-bottom {
  padding: 20px 0;
  background-color: $dark-blue;
  color: $silver;
}


@media (max-width: $lg) {
  .footer-menu {
    text-align: center;
    padding: 55px 0;

    &__container {
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
    }
  }

  .footer-middle {
    &__list {
      margin-right: 30px;
    }
  }
}


@media (max-width: $md) {
  .footer-middle {
    padding: 25px 0;

    &__container {
      flex-direction: column;
    }

    &__list,
    &__logo {
      margin: 0;
    }

    &__list {
      margin: 10px 0;
    }
  }
}


@media (max-width: $sm) {
  .footer-menu {
    &__container {
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
    }
  }
}