.header-top {
  padding: 42px 0 22px;
  background-color: $blue-01;
}

.menu {
  margin-left: 33px;

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 60px;
  }

  &__link {
    @extend %opensans-400;
    color: $white;
    text-transform: uppercase;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }

  &__link--active {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #bedef9;
      bottom: -22px;
    }
  }

  &__burger {
    display: none;
  }
}

.header-bottom {
  background-color: $white;
  padding: 40px 0 20px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
  }

  &__item {
    max-width: 150px;
    width: 100%;
    padding-left: 48px;
    position: relative;
    // margin-right: 50px;

    &:not(:last-child) {
      margin-right: 50px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 36px;
      height: 36px;
      top: 0;
      left: 0;
    }
  }

  &__item--glass {
    max-width: 105px;
  }

  &__item--window::after {
    background-image: url('../images/icons/sliding-door1.png');
  }

  &__item--glass::after {
    background-image: url('../images/icons/sliding-door2.png');
  }

  &__item--doors::after {
    background-image: url('../images/icons/sliding-door3.png');
  }

  &__link {
    @extend %opensans-800;
    font-size: 14px;
    color: $dark-08;
  }
}



@media (max-width: $xl) {
  .menu {
    &__item {
      margin-right: 50px;
    }
  }

  .header-bottom {
    padding: 20px 0;
  }
}



@media (max-width: $lg) {
  .menu {
    &__item {
      margin-right: 20px;
    }
  }

  .contacts__phone {
    font-size: 16px;
  }

  .header-bottom {
    &__item:not(:last-child) {
      margin-right: 30px;
    }

    .logo {
      width: 110px;
    }
  }
}



@media (max-width: $md) {
  .header-top {
    padding: 15px 0;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;

    &__burger {
      display: inherit;
      justify-content: flex-end;
      width: 30px;
      height: 20px;
      border: none;
      padding: 0;
      background-color: transparent;
      position: relative;
      z-index: 15;

      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $white;
        transition: transform 0.3s
      }

      &::after {
        top: 0;
      }

      &::before {
        bottom: 0;
      }

      span {
        position: absolute;
        width: 100%;
        height: 2px;
        top: 9px;
        background-color: $white;
        transition: transform 0.3s
      }

      &.active::after {
        transform: rotate(45deg);
        top: 9px;
      }

      &.active::before {
        transform: rotate(-45deg);
        bottom: 9px;
      }

      &.active span {
        transform: scale(0);
      }
    }

    &__list {
      display: block;
      position: fixed;
      transform: translateY(-200%);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $blue-01;
      text-align: center;
      padding-top: 50px;
      transition: transform 0.5s;
      z-index: 14;

      &.active {
        transform: translateY(0);
        overflow: auto;
      }
    }

    &__link--active::before {
      bottom: -3px;
    }

    &__item {
      margin-right: 0;
      padding: 12px 0;
    }
  }

  .header-bottom {
    padding: 15px 0;

    &__container {
      justify-content: center;
      flex-direction: column;
    }

    &__list {
      margin-bottom: 20px;
    }

    .logo {
      display: none;
    }

    .contacts {
      flex-direction: initial;
      align-items: center;

      &__phone {
        margin-right: 30px;
      }
    }
  }
}



@media (max-width: $sm) {
  .header-bottom {
    &__list {
      margin-bottom: 15px;
    }

    &__item {
      padding-left: 40px;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }

    &__link {
      font-family: 'OpenSans-Bold', sans-serif;
      font-weight: 700;
      font-size: 13px;
    }

    .contacts {
      &__phone {
        font-size: 14px;
        margin-right: 20px;
      }
    }
  }
}