.specialists {
  padding-top: 105px;
  background-image: url('../images/service-bd.jpg');
  @extend %bg-img;


  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    padding: 110px 0 140px;
  }

  &__title {
    max-width: 446px;
    @extend %opensans-800;
    font-size: 36px;
    color: $white;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__text {
    max-width: 330px;
    font-size: 16px;
    line-height: 1.8;
    color: $white;
    margin-bottom: 35px;
  }

  &__service {
    display: inherit;
    align-items: flex-end;
    max-width: 602px;
    width: 100%;
    overflow: hidden;
  }

  &__service-img {
    @extend %bg-img;
    object-fit: contain;
    transform: translateY(14px);
  }
}

@media (max-width: $lg) {
  .specialists {
    padding-top: 50px;

    &__info {
      padding: 30px 0 10px;
    }

    &__title {
      font-size: 30px;
      margin-bottom: 15px;
    }

    &__text {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: $mm) {
  .specialists {
    &__service {
      display: none;
    }

    &__container {
      justify-content: center;
    }

    &__title {
      max-width: 100%;
      font-size: 26px;
    }

    &__text {
      max-width: 100%;
    }
  }
}