.top {
  @extend %bg-img;
  background-size: contain;
  background-position: right center;
  background-color: rgb(161, 187, 232);
  padding: 140px 0 25px;

  &__title {
    @extend %opensans-800;
    font-size: 50px;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 70px;
  }
}

// breadcrumbs in the gloobal 

@media (max-width: $xxl) {
  .top {
    background-position: inherit;
    background-size: cover;
  }
}


@media (max-width: $lg) {
  .top {
    padding: 60px 0 25px;

    &__title {
      font-size: 40px;
      margin-bottom: 40px;
    }
  }
}