.top {
  @extend %bg-img;
  background-size: contain;
  background-position: right center;
  background-color: rgb(161, 187, 232);
  padding: 140px 0 25px;

  &__title {
    @extend %opensans-800;
    font-size: 50px;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 70px;
  }
}

// breadcrumbs in the gloobal 